<h1>{{site.t.[page.lang].info}}</h1>
<div class="container">
    <div class="one">
      <img src="/assets/home-header.jpg" alt="HTML5 Icon" class="center" style="width:256px;height:256px;">
    </div>
    <div class="two">
      <div class="content">
        <p> {{site.title.[page.lang]}} </p>
        <p> {{site.t.[page.lang].ICO}}: {{site.ICO}} </p>
        <p> {{site.t.[page.lang].address}}: <br> {{site.address}} </p>
        <p> {{site.t.[page.lang].phone}}: {{site.phone}} </p>
        <p> Email : {{site.email}} </p>
      </div>
    </div>
</div>
