	<!-- Langugage Picker -->

<!-- Posts -->
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% for post in posts %}
<!-- Show Language Button of lang that is not displayed -->
<a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
{% endfor %}

<!-- Pages -->
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for page in pages %}
<!-- Show Language Button of lang that is not displayed -->
<a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
{% endfor %}
